body{
    text-align: ;
}

header{
    position: fixed;
    display: flex;
    z-index: 1;
}

#header-img{
    width: 90%;
}

.turacc{
    text-align: center;
    padding-top: 200px;
}

.videoacc{
    padding-top: 30px;   
}

.experience{
    text-align: center;
}

.exp{
    padding-top: 50px;
    padding-bottom: 50px;
}

p{
    padding-bottom: 20px;
}

.form{
    text-align: center;
}

@media (max-width: 575px){
    body{
        background-color: gray;
    }
}